@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/League_Gothic-webfont.eot');
  src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/League_Gothic-webfont.woff') format('woff'),
       url('../fonts/League_Gothic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bd-webfont.svg#AllerBold') format('svg'),
         url('../fonts/aller_bd-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_bdit-webfont.eot');
    src: url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bdit-webfont.svg#AllerBoldItalic') format('svg'),
         url('../fonts/aller_bdit-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_it-webfont.svg#AllerItalic') format('svg'),
         url('../fonts/aller_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_lt-webfont.svg#AllerLightRegular') format('svg'),
         url('../fonts/aller_lt-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_ltit-webfont.eot');
    src: url('../fonts/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_ltit-webfont.svg#AllerLightItalic') format('svg'),
         url('../fonts/aller_ltit-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.svg#AllerRegular') format('svg'),
         url('../fonts/aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'spina';
  src: url('../fonts/spina.eot?47205925');
  src: url('../fonts/spina.eot?47205925#iefix') format('embedded-opentype'),
       url('../fonts/spina.svg?47205925#spina') format('svg'),
       url('../fonts/spina.woff?47205925') format('woff'),
       url('../fonts/spina.ttf?47205925') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'spina';
    src: url('../font/spina.svg?47205925#spina') format('svg');
  }
}
*/
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "spina";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  margin-right: 8px;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
   font-size: 110%; 
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\e801'; } /* '' */
.icon-cloud-1:before { content: '\e81c'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-flag:before { content: '\e814'; } /* '' */
.icon-cog:before { content: '\e820'; } /* '' */
.icon-mail:before { content: '\e80e'; } /* '' */
.icon-ok-1:before { content: '\e818'; } /* '' */
.icon-cancel-1:before { content: '\e819'; } /* '' */
.icon-attention:before { content: '\e803'; } /* '' */
.icon-italic-1:before { content: '\e81f'; } /* '' */
.icon-bold-1:before { content: '\e81e'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-comment-alt:before { content: '\e805'; } /* '' */
.icon-chat:before { content: '\e813'; } /* '' */
.icon-left-open:before { content: '\e81b'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */
.icon-font:before { content: '\e81d'; } /* '' */
.icon-bold:before { content: '\e80f'; } /* '' */
.icon-italic:before { content: '\e810'; } /* '' */
.icon-off:before { content: '\e817'; } /* '' */
.icon-terminal:before { content: '\e816'; } /* '' */
.icon-paper-plane:before { content: '\e80d'; } /* '' */
.icon-color-adjust:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e80c'; } /* '' */
.icon-folder:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e812'; } /* '' */
.icon-list-bullet:before { content: '\e811'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-lock-open:before { content: '\e80b'; } /* '' */
