/* line 6, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
input[type="text"], input[type="password"], textarea {
  background: url(../images/input_bg.png) repeat-x #fdfdfd;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #cccccc;
  color: #333333;
  font-family: "Aller";
  height: 30px;
  outline: none;
  padding: 4px 10px;
  resize: none;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transition: border 0.25s ease-out, box-shadow 0.25s ease-out;
  -moz-transition: border 0.25s ease-out, box-shadow 0.25s ease-out;
  -o-transition: border 0.25s ease-out, box-shadow 0.25s ease-out;
  transition: border 0.25s ease-out, box-shadow 0.25s ease-out; }
  /* line 22, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
    border: 1px solid #bbbbbb; }
  /* line 25, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #81b0ef;
    color: #333333;
    -webkit-box-shadow: 0px 0px 4px #81b0ef;
    -moz-box-shadow: 0px 0px 4px #81b0ef;
    box-shadow: 0px 0px 4px #81b0ef; }
  /* line 30, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  input[type="text"].medium, input[type="password"].medium, textarea.medium {
    width: 80%; }
  /* line 33, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  input[type="text"].large, input[type="password"].large, textarea.large {
    height: 40px;
    padding: 6px 10px;
    font-size: 16px;
    font-size: 1.6rem; }
  /* line 38, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  input[type="text"].small, input[type="password"].small, textarea.small {
    width: 140px; }

/* line 41, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
input[type="file"] {
  display: block; }

/* line 44, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
input[type="submit"], button {
  font-family: "Aller"; }

/* line 47, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
input::-webkit-input-placeholder, input::-moz-placeholder, textarea::-webkit-input-placeholder, textarea::-moz-input-placeholder {
  color: #bbbbbb;
  font-style: italic; }

/* line 53, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
textarea {
  height: 112px;
  line-height: 18px;
  margin-bottom: 0px;
  padding-top: 8px; }
  /* line 59, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  textarea.large {
    height: 200px;
    padding-top: 8px; }

/* line 65, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
form p {
  margin-bottom: 26px;
  position: relative; }

/* line 69, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
p label, td label {
  color: #777777;
  display: inline-block;
  font-weight: bold;
  line-height: 26px;
  text-indent: 12px;
  text-transform: uppercase;
  font-size: 11px;
  font-size: 1.1rem;
  text-shadow: 0 1px 0 white; }

/* line 79, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
p small, td small {
  color: #777777;
  display: inline-block;
  font-style: italic;
  line-height: 18px;
  text-indent: 12px;
  font-size: 12px;
  font-size: 1.2rem; }
  /* line 87, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  p small a, td small a {
    color: #4183c4; }

/* line 90, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
td small {
  display: block; }

/* line 95, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.checkbox {
  border: 1px solid #cccccc;
  display: inline-block;
  height: 23px;
  padding: 2px;
  position: relative;
  width: 70px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d1d1), color-stop(100%, #e2e2e2));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #e2e2e2);
  background-image: -moz-linear-gradient(top, #d1d1d1, #e2e2e2);
  background-image: -o-linear-gradient(top, #d1d1d1, #e2e2e2);
  background-image: linear-gradient(top, #d1d1d1, #e2e2e2);
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white; }
  /* line 106, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .checkbox .knob {
    display: inline-block;
    height: 23px;
    position: absolute;
    width: 34px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #e8e8e8));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e8e8e8);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e8e8e8);
    background-image: -o-linear-gradient(top, #f7f7f7, #e8e8e8);
    background-image: linear-gradient(top, #f7f7f7, #e8e8e8);
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35), inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35), inset 0 1px 0 white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35), inset 0 1px 0 white;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  /* line 118, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .checkbox.activated {
    border: 1px solid #5f89c6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #567db6), color-stop(100%, #85b3f2));
    background-image: -webkit-linear-gradient(top, #567db6, #85b3f2);
    background-image: -moz-linear-gradient(top, #567db6, #85b3f2);
    background-image: -o-linear-gradient(top, #567db6, #85b3f2);
    background-image: linear-gradient(top, #567db6, #85b3f2); }
  /* line 122, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .checkbox.activated .knob {
    -webkit-transform: translate3d(36px, 0, 0);
    -moz-transform: translate3d(36px, 0, 0);
    -ms-transform: translate3d(36px, 0, 0);
    -o-transform: translate3d(36px, 0, 0);
    transform: translate3d(36px, 0, 0); }
  /* line 125, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .checkbox i {
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 23px;
    text-align: center;
    width: 33px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
  /* line 134, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .checkbox i:before {
    margin: 0; }

/* line 139, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.slider {
  max-width: 400px;
  width: 100%; }

/* line 143, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.slider > .dragger {
  width: 16px;
  height: 16px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: -o-linear-gradient(top, #f7f7f7, #e8e8e8);
  background-image: linear-gradient(top, #f7f7f7, #e8e8e8);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 white;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 white; }

/* line 151, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.slider > .track {
  height: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d1d1), color-stop(100%, #e2e2e2));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #e2e2e2);
  background-image: -moz-linear-gradient(top, #d1d1d1, #e2e2e2);
  background-image: -o-linear-gradient(top, #d1d1d1, #e2e2e2);
  background-image: linear-gradient(top, #d1d1d1, #e2e2e2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white; }

/* line 159, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.cmf-skinned-select, select {
  border: 1px solid #cccccc;
  border-radius: 3px;
  display: inline-block;
  height: 30px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e7e6e8));
  background-image: -webkit-linear-gradient(top, #ffffff, #e7e6e8);
  background-image: -moz-linear-gradient(top, #ffffff, #e7e6e8);
  background-image: -o-linear-gradient(top, #ffffff, #e7e6e8);
  background-image: linear-gradient(top, #ffffff, #e7e6e8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border 0.2s ease-out;
  -moz-transition: border 0.2s ease-out;
  -o-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out; }

/* line 168, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.cmf-skinned-select:hover {
  border: 1px solid #b9b9b9; }

/* line 171, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.cmf-skinned-text, select {
  background: url(../images/select_bg.png) no-repeat center right;
  background-size: 6px 12px;
  color: #444444;
  cursor: pointer;
  display: inline-block;
  font-family: "Aller";
  line-height: 30px;
  padding: 0 8px;
  font-size: 12px;
  font-size: 1.2rem; }

/* line 182, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
select {
  min-width: 120px; }

/* line 187, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
input[data-datepicker] {
  max-width: 200px; }

/* line 190, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker {
  border: none;
  font-family: "Aller";
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

/* line 195, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-header {
  background: none;
  border: none;
  font-weight: 300;
  font-size: 17px;
  font-size: 1.7rem; }
  /* line 201, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .ui-datepicker-header a.ui-datepicker-prev, .ui-datepicker-header a.ui-datepicker-next {
    background: none;
    border: none;
    cursor: pointer;
    height: 36px;
    opacity: 0.6;
    right: 0;
    top: 0;
    width: 36px; }
  /* line 211, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .ui-datepicker-header a.ui-datepicker-prev {
    left: 0; }
  /* line 214, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .ui-datepicker-header a.ui-datepicker-prev:hover, .ui-datepicker-header a.ui-datepicker-next:hover {
    opacity: 1; }
  /* line 217, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .ui-datepicker-header a.ui-datepicker-prev span {
    background: url(../images/arrow-left.png) no-repeat center;
    background-size: 10px 13px; }
  /* line 221, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .ui-datepicker-header a.ui-datepicker-next span {
    background: url(../images/arrow-right.png) no-repeat center;
    background-size: 10px 13px; }

/* line 226, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tr td:first-child, .ui-datepicker-calendar tr th:first-child {
  padding-left: 0px; }
/* line 229, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tr td:last-child, .ui-datepicker-calendar tr th:last-child {
  padding-right: 0px; }
/* line 232, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar thead th {
  color: #444444;
  font-weight: 500;
  font-size: 11px;
  font-size: 1.1rem; }
/* line 237, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tbody tr, .ui-datepicker-calendar thead tr {
  border: none; }
/* line 240, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tbody tr td {
  background: none; }
/* line 243, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tbody tr td a {
  line-height: 24px;
  text-align: center;
  width: 24px; }
/* line 248, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tbody tr td a.ui-state-default {
  background: none;
  border: none;
  color: #777777;
  font-weight: 500; }
/* line 254, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tr:hover {
  background: none; }
/* line 257, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tbody tr td a:hover {
  color: black; }
/* line 260, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tbody tr td a.ui-state-highlight {
  background: #eeeeee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 265, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.ui-datepicker-calendar tbody tr td a.ui-state-active {
  background: #444444;
  border-radius: 2px;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 273, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.customfile-input {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: 0 !important;
  z-index: 999; }

/* line 284, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.customfile {
  background: url(../images/input_bg.png) repeat-x #fdfdfd;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #cccccc;
  color: #333333;
  cursor: pointer;
  font-family: "Aller", sans-serif;
  height: 30px;
  line-height: 30px;
  max-width: 400px;
  outline: none;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  resize: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transition: border 0.25s ease-out;
  -moz-transition: border 0.25s ease-out;
  -o-transition: border 0.25s ease-out;
  transition: border 0.25s ease-out; }
  /* line 304, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .customfile .button {
    border-radius: 0;
    border-left: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: none;
    line-height: 30px;
    padding: 0 14px;
    position: absolute;
    right: -1px;
    top: -1px; }
  /* line 316, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .customfile:hover {
    border: 1px solid #bbbbbb; }
    /* line 319, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
    .customfile:hover .button {
      background-position: 100%; }
  /* line 322, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .customfile.large {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-size: 1.4rem; }
    /* line 327, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
    .customfile.large .button {
      line-height: 40px; }

/* line 330, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.customfile-disabled {
  cursor: default;
  opacity: 0.5; }

/* line 334, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.customfile-feedback {
  color: #bbbbbb;
  font-style: italic; }

/* line 338, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.customfile-feedback-populated {
  color: #333333; }

/* line 341, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.customfile-hover .button, .customfile-focus .button {
  background: #e9e9e9;
  color: #444444; }

/* line 347, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.field_with_errors {
  position: relative; }
  /* line 350, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .field_with_errors input, .field_with_errors textarea {
    border: 1px solid #d29797;
    border-top: 1px solid #ae6767;
    color: #ad6262;
    -webkit-box-shadow: 0 0 4px #d29797;
    -moz-box-shadow: 0 0 4px #d29797;
    box-shadow: 0 0 4px #d29797; }
  /* line 356, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .field_with_errors label.message {
    color: #ad6262;
    display: none;
    font-weight: normal;
    right: 8px;
    padding-right: 12px;
    position: absolute;
    text-transform: none;
    top: 18px; }
    @media screen and (min-width: 45em) {
      /* line 356, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
      .field_with_errors label.message {
        display: block; } }
  /* line 369, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .field_with_errors .customfile {
    border: 1px solid #d29797;
    border-top: 1px solid #ae6767; }

/* line 375, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.table-container .field_with_errors label.message {
  right: 30px; }

/* line 379, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.table-form tr td:first-child {
  min-width: 200px;
  text-align: right;
  width: 20%; }
@media screen and (max-width: 45em) {
  /* line 385, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
  .table-form tr td {
    text-align: left !important;
    display: block; } }

/* line 390, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.table-container table.table tr td:first-child, .table-container table.table tr th:first-child {
  padding-left: 32px; }
  @media screen and (max-width: 45em) {
    /* line 390, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
    .table-container table.table tr td:first-child, .table-container table.table tr th:first-child {
      padding-bottom: 0;
      padding-left: 16px; }
      /* line 397, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
      .table-container table.table tr td:first-child label, .table-container table.table tr td:first-child small, .table-container table.table tr th:first-child label, .table-container table.table tr th:first-child small {
        text-indent: 0; } }
/* line 400, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.table-container table.table tr td:last-child, .table-container table.table tr th:last-child {
  padding-right: 32px; }
  @media screen and (max-width: 45em) {
    /* line 400, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
    .table-container table.table tr td:last-child, .table-container table.table tr th:last-child {
      padding-left: 16px;
      padding-right: 16px; } }

/* line 408, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
label.radio span.holder {
  height: 57px;
  background: url(../images/radio.png) 0 0 no-repeat; }

/* line 412, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
label.radio:active span.holder {
  top: -19px !important; }

/* line 415, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
label.checked span.holder, label.checked span.holder, label.checked:active span.holder, label.checked:active span.holder {
  top: -38px !important; }

/* line 418, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
label.list {
  display: block;
  margin: 0 0 5px 0; }

/* line 422, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
label.inline {
  float: left;
  margin: 0 10px 0 0; }

/* line 426, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
input.hiddenCheckbox {
  position: absolute;
  left: -10000px; }

/* line 430, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
label.prettyCheckbox span.holderWrap {
  display: block;
  float: left;
  position: relative;
  margin-right: 5px;
  overflow: hidden; }

/* line 437, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
label.prettyCheckbox span.holder {
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

/* line 443, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
.prettyCheckbox {
  cursor: pointer;
  line-height: 19px; }

/* line 447, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/forms.css.sass */
label .holderWrap {
  padding-top: 0px; }
