/* line 7, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
.navigation-open body {
  overflow: hidden; }
/* line 10, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
.navigation-open #wrapper {
  position: fixed;
  -webkit-transform: translate3d(280px, 0, 0);
  -moz-transform: translate3d(280px, 0, 0);
  -ms-transform: translate3d(280px, 0, 0);
  -o-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0); }

/* line 14, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
body, html {
  height: 100%;
  min-height: 100%; }

/* line 18, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
#wrapper {
  min-height: 100%;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* line 26, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
#navigation_panel {
  z-index: 1;
  background: #222222;
  bottom: 0px;
  height: 100%;
  overflow: scroll;
  overflow-scrolling: touch;
  position: absolute;
  top: 0px;
  width: 280px;
  -webkit-overflow-scrolling: touch; }
  @media screen and (min-width: 45em) {
    /* line 26, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
    #navigation_panel {
      display: none; } }
  /* line 41, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  #navigation_panel ul li a {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #393939;
    color: #cccccc;
    display: block;
    font-weight: bold;
    line-height: 50px;
    padding-left: 50px;
    position: relative;
    width: 230px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #292929));
    background-image: -webkit-linear-gradient(top, #333333, #292929);
    background-image: -moz-linear-gradient(top, #333333, #292929);
    background-image: -o-linear-gradient(top, #333333, #292929);
    background-image: linear-gradient(top, #333333, #292929);
    font-size: 14px;
    font-size: 1.4rem;
    text-shadow: 0 1px 0 black; }
    /* line 55, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
    #navigation_panel ul li a[data-icon]:before {
      color: #111111;
      left: 4px;
      position: absolute;
      text-align: center;
      top: 3px;
      width: 44px;
      font-size: 26px;
      font-size: 2.6rem;
      text-shadow: 0 1px 0 #444444; }
  /* line 65, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  #navigation_panel li.divider {
    border-bottom: 1px solid #111111;
    border-top: 1px solid #333333;
    padding: 4px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #191919));
    background-image: -webkit-linear-gradient(top, #222222, #191919);
    background-image: -moz-linear-gradient(top, #222222, #191919);
    background-image: -o-linear-gradient(top, #222222, #191919);
    background-image: linear-gradient(top, #222222, #191919);
    font-size: 11px;
    font-size: 1.1rem; }
  /* line 72, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  #navigation_panel ul li:first-child a {
    border-top: none; }
  /* line 75, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  #navigation_panel ul:last-child li:last-child a {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
  /* line 78, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  #navigation_panel ul.secondary li.active a {
    background: #444444; }

/* line 82, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
a.button.button-dark[data-toggle=navigation] {
  display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  @media screen and (min-width: 45em) {
    /* line 82, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
    a.button.button-dark[data-toggle=navigation] {
      display: none; } }

/* line 91, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
header#header nav {
  display: none; }
  @media screen and (min-width: 45em) {
    /* line 94, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
    header#header nav#primary {
      display: inline-block; } }
  /* line 98, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  header#header nav ul li {
    float: left; }
  /* line 101, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  header#header nav ul li a {
    background-size: 1px 75px;
    color: white;
    display: block;
    font-weight: bold;
    height: 55px;
    padding: 0 24px;
    font-size: 13px;
    font-size: 1.3rem;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(top, #555555, #222222);
    background-image: -moz-linear-gradient(top, #555555, #222222);
    background-image: -o-linear-gradient(top, #555555, #222222);
    background-image: linear-gradient(top, #555555, #222222);
    -webkit-transition: background 0.2s ease-out, box-shadow 0.1s ease-out;
    -moz-transition: background 0.2s ease-out, box-shadow 0.1s ease-out;
    -o-transition: background 0.2s ease-out, box-shadow 0.1s ease-out;
    transition: background 0.2s ease-out, box-shadow 0.1s ease-out; }
  /* line 112, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  header#header nav ul li a:hover {
    background-position: 25%; }
  /* line 115, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  header#header nav ul li a[data-icon]:before {
    font-size: 24px;
    font-size: 2.4rem; }
  /* line 118, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  header#header nav ul li.active a {
    -webkit-box-shadow: inset 0 -10px 30px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 0 -10px 30px rgba(0, 0, 0, 0.65);
    box-shadow: inset 0 -10px 30px rgba(0, 0, 0, 0.65); }
  /* line 121, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  header#header nav ul li a:active {
    -webkit-box-shadow: inset 0 -4px 20px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 -4px 20px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 -4px 20px rgba(0, 0, 0, 0.35); }

/* line 126, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
nav.submenu {
  display: none;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 60em) {
    /* line 126, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
    nav.submenu {
      float: left;
      margin-top: 9px;
      width: 111px; } }
  @media screen and (min-width: 45em) {
    /* line 126, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
    nav.submenu {
      display: block; } }
  /* line 139, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  nav.submenu ul {
    margin: 0;
    padding: 0; }
  /* line 143, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  nav.submenu ul li {
    display: inline-block;
    position: relative; }
  /* line 147, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  nav.submenu li a {
    color: #999999;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    min-width: 95px;
    padding: 12px 4px;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 12px;
    font-size: 1.2rem;
    text-shadow: 0 1px 0 white;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s; }
    @media screen and (min-width: 60em) {
      /* line 147, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
      nav.submenu li a {
        padding: 18px 8px;
        width: 95px; } }
  /* line 165, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  nav.submenu li a[data-icon]:before {
    display: block;
    font-weight: normal;
    margin: 4px 0;
    font-size: 24px;
    font-size: 2.4rem;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s; }
    @media screen and (min-width: 60em) {
      /* line 165, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
      nav.submenu li a[data-icon]:before {
        margin: 8px 0;
        font-size: 28px;
        font-size: 2.8rem; } }
  /* line 176, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  nav.submenu li a[data-badge]:after {
    left: 70px;
    top: 10px; }
  /* line 180, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  nav.submenu li.active a, nav.submenu li a:hover {
    color: #333333; }
  /* line 183, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  nav.submenu li.active a {
    background: #dddddd;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25); }
    @media screen and (min-width: 60em) {
      /* line 183, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
      nav.submenu li.active a {
        margin-right: -3px;
        padding-right: 11px;
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        -ms-border-radius: 3px 0 0 3px;
        -o-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px; } }
  /* line 193, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
  nav.submenu li.active:after {
    background: url(../images/nav_indicator_vertical.png) no-repeat;
    background-size: 19px 11px;
    bottom: 0;
    content: "";
    height: 11px;
    left: 42px;
    position: absolute;
    width: 19px;
    z-index: 2; }
    @media screen and (min-width: 60em) {
      /* line 193, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/navigation.css.sass */
      nav.submenu li.active:after {
        background: url(../images/nav_indicator.png) no-repeat;
        background-size: 11px 19px;
        height: 19px;
        left: auto;
        right: 0px;
        top: 36px;
        width: 11px; } }
