/* line 6, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
.sortable-list-container {
  margin: 0 -32px; }
  @media screen and (max-width: 45em) {
    /* line 6, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
    .sortable-list-container {
      margin: 0 -16px; } }

/* line 12, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
ol.sortable {
  color: #222222;
  margin-bottom: 32px;
  width: 100%;
  font-size: 13px;
  font-size: 1.3rem; }
  /* line 18, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
  ol.sortable li div {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
    cursor: move;
    padding: 10px 0;
    text-indent: 32px;
    width: 100%; }
    /* line 26, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
    ol.sortable li div a.button {
      text-indent: 0; }
    /* line 29, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
    ol.sortable li div:hover {
      background-color: #f1f1f1; }
    /* line 32, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
    ol.sortable li div a small {
      display: inline; }
  /* line 35, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
  ol.sortable > li:last-child div {
    border-bottom: none; }
  /* line 38, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
  ol.sortable li ol div {
    background: url(../images/hook.png) no-repeat 40px;
    background-color: #f9f9f9;
    text-indent: 54px; }

/* line 43, /Users/bram/Dropbox/Apps/Spina 2/source/stylesheets/sortable-lists.css.sass */
.placeholder {
  background: #f7f8ec;
  visibility: visible !important; }
